@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



.chatRoom {
    font-family: 'Open Sans', sans-serif;

    display: grid;
    place-items: center;
    background-color: white;
    width: 800px;
}


.chatmain {
    margin-top: 20px;
    border: 8px solid #dddddd;
    border-radius: 24px;
    overflow: hidden;
}

.chatname {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color: #7e7e7e;
    background-color: #ebebeb;
}

.chatname>span {
    color: #bbb;
}

.chatname-input {
    font-size: 24px;
    font-weight: 700;
    color: #7e7e7e;
    flex-grow: 1;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #ebebeb;
}

.chatmessage-container {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatmessage-left,
.chatmessage-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}

.chatmessage-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.chatmessage-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #2d2d2d;
    box-shadow: 2px 2px 4px #dcdcdc;
    color: #f6f6f6;
}

.chatmessage-left>p>span,
.chatmessage-right>p>span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.chatfeedback {
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}

.chatmessage-form {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.chatmessage-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #fff;
}

.chatsend-button {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.chatv-divider {
    height: 48px;
    width: 2px;
    background-color: #f6f6f6;
}

.chatclients-total {
    margin: 20px 0;
    color: #7e7e7e;
}