@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 300px;
      text-align: center;
      @include mobile{
        gap: 20px;
        
      }

      span {
        font-weight: bold;
        font-size: 30px;
        color: themed("logo");
        text-decoration: none;

        @include mobile{
        font-size: 25px;
      }
      }
      .mode-change{
        cursor: pointer;
        
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 200px;

      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          @include mobile {
          margin-left: 50px;
          }
        }
        .user-name{
          @include mobile{
          display: none;
        }
        }

        .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 1;
        width: 200px;

        .dropdown-item {
          padding: 5px;
          cursor: pointer;
          color:themed("textColor");

          &:hover {
            background-color: themed("hover");
          }
        }
      }
      }
    }
  }
}


 // .search {
      //   display: flex;
      //   align-items: center;
      //   gap: 10px;
      //   border: 1px solid themed("border");
      //   border-radius: 5px;
      //   padding: 5px;

      //   input {
      //     border: none;
      //     width: 500px;
      //     background-color: transparent;
      //     color: themed("textColor");

      //     @include mobile{
      //       display: none;
      //     }

      //     @include tablet{
      //       width: 200px;
      //     }
      //   }
      // }